body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.title {
  color: purple;
}

.someText {
  text-align: center;
  color: white;
}

form .error {
  color: #ff0000;
}

@media (min-width: 1190px) {
  .bluebox {
    max-width: 1000px;
  }
}
