<div class="shadow-lg container border border-dark border-3 rounded-3 p-2 d-flex justify-content-end">

    <div class="bluebox table-responsive shadow w-75 p-3 border border-primary border-3 rounded-3 bg-light bg-gradient">
        <button class="float-end m-2 btn btn-primary" id="addButton" value=0 type="button">ADD</button>
        <div id="hiddenForm">
            <form class="row g-3 border border-dark p-2 m-2" name="registration">
                <div class="col-md-4">
                    <label for="inputName" class="form-label">Name</label>
                    <input type="text" class="form-control" name="inputName" placeholder="John Doe" id="inputName">
                </div>

                <div class="col-md-6">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" name="inputEmail" placeholder="abc@mail.com"
                        id="inputEmail">
                </div>
                <div class="col-md-4">
                    <label for="inputDate" class="form-label">Birthday</label>
                    <input type="text" class="form-control" name="inputDate" placeholder="yyyy-mm-dd" id="inputDate">
                </div>

                <div class="col-12">
                    <button class="btn btn-primary float-start m-2" id="register" type="button">Register</button>

                </div>
            </form>
        </div>

        <div>

            <table class="table table-bordered border border-success rounded-5 shadow-sm">

                <thead>
                    <tr>
                        <th class="col-2" scope="col">Name</th>
                        <th class="col-4" scope="col">Email</th>
                        <th class="col-4" scope="col">Birthday</th>
                        <th class="col-2" scope="col">Edit</th>
                    </tr>
                </thead>
                <tbody class="tbody">
                    <tr>

                        <td class="name">
                            <form name="changeName" class="changeName">Lily Miler</form>
                        </td>
                        <td class="email">
                            <form name="changeEmail" class="changeEmail">lmiller@hotmail.com</form>
                        </td>
                        <td class="birthday">
                            <form name="changeDate" class="changeDate">1972-10-06</form>
                        </td>
                        <td><button type="button" class="edit">Edit</button></td>

                    </tr>
                    <tr>

                        <td class="name">
                            <form name="changeName" class="changeName">Allie Miller</form>
                        </td>
                        <td class="email">
                            <form name="changeEmail" class="changeEmail">amiller@hotmail.com</form>
                        </td>
                        <td class="birthday">
                            <form name="changeDate" class="changeDate">1972-10-06</form>
                        </td>
                        <td><button type="button" class="edit">Edit</button></td>

                    </tr>
                </tbody>


            </table>

        </div>
    </div>

</div>