<h1>{{title}}</h1>
<p class="title">Welcome to {{title}}</p>


<div class="test">
    <p id="demo">A Paragraph.</p>
    <button type="button" onclick="myFunction()">Try it</button>
    <p>(myFunction is stored in an external file called "myScripts.js")</p>
</div>



<div class="test2">
    <h1 class="someText" id="hidden">I was hidden</h1>

    <button type="button" id="but" value=0>click me to alert</button>

</div>